body {
    min-height: 98vh;
    position: relative;
    margin: 0;
}

.schedule {
    td:not(:first-child):hover {
        background-color: #E3E3E3;
        cursor: pointer;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 10px 0 5px 0;
    height: 10px;
}